@page
@model Termin.Areas.Teacher.Pages.Tests.IndexModel
@using Microsoft.Extensions.Localization
@using Microsoft.AspNetCore.Mvc.Localization
@* ViewLocalizer path is Resources.Pages.Index *@
@inject IViewLocalizer ViewLocalizer

@{
    ViewData["Title"] = "Index";
}

<h1>@ViewLocalizer["Index"]</h1>

<p>
    <a asp-page="Create">@ViewLocalizer["Create New"]</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.TestList[0].Name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.TestList[0].Description)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model.TestList)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Name)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Description)
                </td>
                <td>
                    <a asp-page="./Edit" asp-route-id="@item.Id">@ViewLocalizer["Edit"]</a> |
                    <a asp-page="./Details" asp-route-id="@item.Id">@ViewLocalizer["Details"]</a> |
                    <a asp-page="./Questions" asp-route-id="@item.Id">@ViewLocalizer["Questions"]</a> |
                    <a asp-page="./Delete" asp-route-id="@item.Id">@ViewLocalizer["Delete"]</a>
                </td>
            </tr>
        }
    </tbody>
</table>
