@page
@model Termin.Areas.Admin.Pages.Users.DetailsModel
@using Microsoft.Extensions.Localization
@using Microsoft.AspNetCore.Mvc.Localization
@* ViewLocalizer path is Resources.Pages.Index *@
@inject IViewLocalizer ViewLocalizer
@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.CreateUserModel.Email)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.CreateUserModel.Email)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.CreateUserModel.FirstName)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.CreateUserModel.FirstName)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.CreateUserModel.MiddleName)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.CreateUserModel.MiddleName)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.CreateUserModel.LasName)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.CreateUserModel.LasName)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.CreateUserModel.Password)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.CreateUserModel.Password)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.CreateUserModel.ConfirmPassword)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.CreateUserModel.ConfirmPassword)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.CreateUserModel.LockoutEnabled)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.CreateUserModel.LockoutEnabled)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.CreateUserModel.UserName)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.CreateUserModel.UserName)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.CreateUserModel.PhoneNumber)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.CreateUserModel.PhoneNumber)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.CreateUserModel.PhoneNumberConfirmed)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.CreateUserModel.PhoneNumberConfirmed)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.CreateUserModel.TwoFactorEnabled)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.CreateUserModel.TwoFactorEnabled)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.CreateUserModel.RoleName)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.CreateUserModel.RoleName)
        </dd>
    </dl>
</div>
<div>
    <a asp-page="./Index">@ViewLocalizer["Back to List"]</a>
</div>
