@page
@model Termin.Areas.Admin.Pages.Users.IndexModel
@using Microsoft.Extensions.Localization
@using Microsoft.AspNetCore.Mvc.Localization
@* ViewLocalizer path is Resources.Pages.Index *@
@inject IViewLocalizer ViewLocalizer

@{
    ViewData["Title"] = "Index";
}

<h1>@ViewLocalizer["Users"]</h1>

<p>
    <a asp-page="Create">@ViewLocalizer["Create New"]</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Users[0].Email)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Users[0].FirstName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Users[0].MiddleName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Users[0].LastName)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model.Users)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Email)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.FirstName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.MiddleName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.LastName)
                </td>
                <td>
                    <a asp-page="./Edit" asp-route-id="@item.Id">@ViewLocalizer["Edit"]</a> |
                    <a asp-page="Details" asp-route-id="@item.Id">@ViewLocalizer["Details"]</a> |
                    <a asp-page="./Delete" asp-route-id="@item.Id">@ViewLocalizer["Delete"]</a>
                </td>
            </tr>
        }
    </tbody>
</table>

